.containerForm {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.formItem {
  background: transparent;
  border: none;
  outline: none;

  width: 320px;
  background-color: #3b3b3d;
  padding: 8px;
  border-radius: 6px;
  color: #fff;
}

.formButton {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: #2b59b0;
  border: none;
  border-radius: 12px;
  padding: 6px 10px;
  text-transform: uppercase;
  color: #9e9ea2;
  font-weight: 500;
}

.formButton:hover {
  background-color: #fff;
  color: #090909;
}
