.containerHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #090909;
  padding-top: 20px;
  padding-bottom: 20px;
}

.headerItem {
  color: #2b59b0;
  text-transform: uppercase;
}
